<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Executor.Config.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Elid.Executor.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Executor.Config.GeneralSettings>
            <setting name="ScriptFileEncoding" serializeAs="String">
                <value>ANSI</value>
            </setting>
            <setting name="LoggingType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScriptExecutorProductUrl" serializeAs="String">
                <value>http://www.xsql.com/products/script_executor/</value>
            </setting>
            <setting name="ScriptExecutorPurchaseUrl" serializeAs="String">
                <value>http://www.xsql.com/order/product_licensing.aspx?productid=ScriptExecutorLic</value>
            </setting>
            <setting name="DockingStyle" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LoadLastProjectOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportFileEncoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="SaveChangesBeforeExecution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserHelp" serializeAs="String">
                <value>Script Executor User Help.chm</value>
            </setting>
            <setting name="EnableStrongSigning" serializeAs="String">
                <value>False</value>
            </setting>
        </Executor.Config.GeneralSettings>
        <Elid.Executor.UI.Properties.Settings>
            <setting name="WebServiceTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
        </Elid.Executor.UI.Properties.Settings>
    </applicationSettings>
</configuration>