<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OuroWebTools.Desktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OuroWebTools.Desktop.Models.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OuroWebTools.Desktop.ViewModels.Settings.SettingsUserControl.ConnectionString.ConnectionString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OuroWebTools.Desktop.ViewModels.Settings.SettingsWindow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <OuroWebTools.Desktop.Settings>
      <setting name="CurrentWorkingOnIssueNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationStartOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenMainWindowOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccessPath" serializeAs="String">
        <value>C:\Program Files(x86)\Microsoft Office\Office\MSACCESS.EXE</value>
      </setting>
    </OuroWebTools.Desktop.Settings>
    <OuroWebTools.Desktop.Models.Settings>
      <setting name="CurrentWorkingOnIssueNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationStartOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentWorkingOnVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenMainWindowOnStartup" serializeAs="String">
        <value />
      </setting>
    </OuroWebTools.Desktop.Models.Settings>
    <OuroWebTools.Desktop.ViewModels.Settings.SettingsUserControl.ConnectionString.ConnectionString>
      <setting name="CurrentWorking" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationStartOnStartup" serializeAs="String">
        <value />
      </setting>
    </OuroWebTools.Desktop.ViewModels.Settings.SettingsUserControl.ConnectionString.ConnectionString>
    <OuroWebTools.Desktop.ViewModels.Settings.SettingsWindow>
      <setting name="SelectedInstancesSetting" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </OuroWebTools.Desktop.ViewModels.Settings.SettingsWindow>
  </userSettings>
</configuration>
